langchain
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain-community

openai
google-generativeai
mistralai

fastapi
uvicorn

python-dotenv
pydantic

requests
httpx
